*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #e3e6f3;
    box-shadow: 0 25px 20px -25px rgba(0, 0, 0, 0.4);
    position: sticky;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    padding: 10px;
    position: relative;
    padding: 10px 30px;
    z-index: 2;
    transition: color 0.5s ;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #777;
}

.navbar ul li a::after{
    content: "";
    background: navy;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.navbar ul li a:hover{
    color: white;
}

.navbar ul li a:hover::after{
    top: 50%;
    opacity: 1;
}

.content{
    background-image: url(images/bg.png);
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    width: 100%;
    font-size: 35px; 
    color: navy;
    padding: 0 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
